{% extends "base.html" %}

{% block title %}Spectrum | Notification{% endblock %}

{% block body %}
{{ include ("navbar.html") }}

<div style="height: 3.78rem;"></div>
<div class="row justify-content-center w-100 overflow-hidden pl-4">
    <div class="col-lg-8 pt-2">

        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>
        <a href="#" class="alert alert-success btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> comment your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-comment-alt text-success"></i>
                </div>
        </a>
        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your profile photo <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>

        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>
        <a href="#" class="alert alert-success btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> comment your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-comment-alt text-success"></i>
                </div>
        </a>
        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your profile photo <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>

        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>
        <a href="#" class="alert alert-success btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> comment your post <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-comment-alt text-success"></i>
                </div>
        </a>
        <a href="#" class="alert alert-primary btn mb-2 d-flex align-items-center">
            <div class="profile-icon-img-overlay-link mr-2">
                <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
            </div>
                <b class="mr-1">Ashikur Rahman</b> like your profile photo <small class="text-muted ml-2">(1 hour ago)</small>
                <div class="ml-auto h5">
                    <i class="fas fa-thumbs-up text-primary"></i>
                </div>
        </a>

    </div>
</div>
{% endblock %}