<a href="{{ url_root }}/messages/1" class="d-flex justify-content-center align-items-center btn btn-light mb-2"> 
    <div>
        <div class="profile-icon-img-overlay mr-2">
            <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
        </div>
    </div>
    <div class="d-none d-md-flex flex-column justify-content-start align-items-start">
       <span>Ashikur Rahman</span>
       <small class="text-muted">1 hour ago</small>
    </div>
    <sup class="badge badge-danger ml-md-auto">5</sup>
</a>
<a href="{{ url_root }}/messages/2" class="d-flex justify-content-center align-items-center btn btn-light mb-2"> 
    <div>
        <div class="profile-icon-img-overlay mr-2">
            <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
        </div>
    </div>
    <div class="d-none d-md-flex flex-column justify-content-start align-items-start">
       <span>Ashikur Rahman</span>
       <small class="text-muted">1 hour ago</small>
    </div>
    <sup class="badge badge-danger ml-md-auto">5</sup>
</a>