{% for chatHolder in chatHolders %}
    <a href="{{ url_root }}/messages/{{ chatHolder.id }}" class="d-flex justify-content-start align-items-center btn btn-light mb-2"> 
        <div>
            <div class="profile-icon-img-overlay mr-2">
                <img src="{{ folder }} /public/img/{{ chatHolder.profile_pic }}" alt="user Icon">
            </div>
        </div>
        <div class="d-none d-md-flex flex-column justify-content-start align-items-start">
        <span>{{ chatHolder.name }}</span>
        <small class="text-muted">{{ chatHolder.time }}</small>
        </div>
        {% if chatHolder.unseen %}
            <sup class="badge badge-danger ml-md-auto">{{ chatHolder.unseen }}</sup>
        {% endif %}
    </a>
{% endfor %}