{% extends "base.html" %}

{% block title %}Spectrum | Messages{% endblock %}
{% block body %}
    <div class="msg-body d-flex flex-column">
        {{ include ("navbar.html") }}

        <div style="height: 3.78rem;"></div>
        <div class="row media-body justify-content-center h-75">
            <div class="col-3 col-sm-4 col-lg-3 p-2 pl-4 h-100">
                <div class="d-flex flex-column overflow-y" id="chatHolders">

                    {{ include ("Messages/chatHolder.html")}}
                    

                </div>
            </div>
            <div class="col col-lg-6 border-left pr-4 h-100 pr-lg-0">
                
                <div class="d-flex flex-column justify-content-between h-100">

                    <div class="bg-white border-bottom">
                        <a href="{{ url_root }}/profile/{{ chatUser.id }}" title="Profile" class="nav-link d-flex align-items-center"> 
                            <div class="profile-icon-img-overlay-link mr-2"><img src="{{ folder }} /public/img/{{ chatUser.profile_pic }}" alt="user Icon"></div> {{ chatUser.name }}
                        </a>
                    </div>
                    
                    <div class="media-body px-1 h-75">

                        <div class="overflow-y pr-2" id="message-body">
            
                            {{ include ("Messages/messages.html")}}
            
                        </div>
            
                    </div>
                    
                    <div class="d-flex align-items-center border-top py-2" id="chatUser" data-id="{{ chatUser.id }}">
                        <input class="form-control form-control-sm" id="sendTextMsg" type="text">
            
                        <form id="sendImageMsgFrom">
                            <input type="hidden" name="user_id" value="{{ chatUser.id }}">
                            <input type="hidden" name="page" value="msg">
                            <input class="d-none" type="file" name="send-image" id="sendImageMsg"> 
                            <label class="p-1 m-0 ml-1 h4 pointer" for="sendImageMsg"><i class="far fa-images"></i></label>
                        </form>
            
                        <div class="p-1 h4 mb-0 pointer position-relative" id="msg-chat-emoji">
                            <i class="far fa-grin chat-emoji" data-target="msg-chat-emoji"></i> 
                            <div class="chat-emoji-body d-none rounded p-2 shadow">
                            </div> 
                        </div>
            
                        <form id="sendFileMsgForm">
                            <input type="hidden" name="user_id" value="{{ chatUser.id }}">
                            <input type="hidden" name="page" value="msg">
                            <input class="d-none" type="file" name="send-file" id="sendFileMsg"> 
                            <label class="p-1 m-0 h4 pointer" for="sendFileMsg"><i class="fas fa-link"></i></label>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %} 
<script src="{{ folder }}/public/js/messages.js"></script>
{% endblock %}