<div class="d-inline-block my-1">
    <small class="text-muted">2 min ago</small>
    <div class="bg-light rounded py-1 px-2">
        hello bro
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">1 min ago</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Hii
    </div>
</div>
<div class="d-inline-block my-1">
    <small class="text-muted">2 min ago</small>
    <div class="bg-light rounded py-1 px-2">
        hello bro
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">1 min ago</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Hii
    </div>
</div>

<div class="d-inline-block my-1">
    <small class="text-muted d-block">just now</small>
    <div class="bg-light rounded d-inline-block py-1 px-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, impedit soluta! Commodi fugit ut nemo at necessitatibus corrupti repellat minima ex, quibusdam aperiam nesciunt odio, est omnis. Impedit, ipsam minus.
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">just now</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum temporibus aliquam aliquid, necessitatibus delectus quas mollitia praesentium, modi, repellat magni? Vero incidunt id illo, est qui dignissimos! Velit, error.
    </div>
</div>
<div class="d-inline-block my-1">
    <small class="text-muted d-block">just now</small>
    <div class="bg-light rounded d-inline-block py-1 px-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, impedit soluta! Commodi fugit ut nemo at necessitatibus corrupti repellat minima ex, quibusdam aperiam nesciunt odio, est omnis. Impedit, ipsam minus.
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">just now</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum temporibus aliquam aliquid, necessitatibus delectus quas mollitia praesentium, modi, repellat magni? Vero incidunt id illo, est qui dignissimos! Velit, error.
    </div>
</div>
<div class="d-inline-block my-1">
    <small class="text-muted d-block">just now</small>
    <div class="bg-light rounded d-inline-block py-1 px-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, impedit soluta! Commodi fugit ut nemo at necessitatibus corrupti repellat minima ex, quibusdam aperiam nesciunt odio, est omnis. Impedit, ipsam minus.
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">just now</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum temporibus aliquam aliquid, necessitatibus delectus quas mollitia praesentium, modi, repellat magni? Vero incidunt id illo, est qui dignissimos! Velit, error.
    </div>
</div>
<div class="d-inline-block my-1">
    <small class="text-muted d-block">just now</small>
    <div class="bg-light rounded d-inline-block py-1 px-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, impedit soluta! Commodi fugit ut nemo at necessitatibus corrupti repellat minima ex, quibusdam aperiam nesciunt odio, est omnis. Impedit, ipsam minus.
    </div>
</div>

<div class="ml-auto d-flex flex-column align-items-end my-1">
    <small class="text-muted">just now</small>
    <div class="bg-primary text-white rounded py-1 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum temporibus aliquam aliquid, necessitatibus delectus quas mollitia praesentium, modi, repellat magni? Vero incidunt id illo, est qui dignissimos! Velit, error.
    </div>
</div>