{% extends "base.html" %}

{% block title %}Spectrum | Signup{% endblock %}

{% block body %}
<div class="home">
    <a class="company-logo btn btn-light" href="{{ folder }}">
        <img class="mr-1" src="{{ folder }} /public/img/icon2.png" alt="Icon">
        <img src="{{ folder }} /public/img/logo-text-dark.png" alt="Text logo">
    </a>
    <div class="row h-100 mx-auto justify-content-center align-items-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Sign Up</h5>
                </div>
                <div class="card-body">
                    <form action="{{folder}}/signup/create" method="post" id="registerForm">
                        <div class="d-flex form-group">
                            <div class="w-50 d-flex flex-column mr-2">
                                <input type="text" name="firstname" class="form-control form-control-sm" placeholder="First name" value="{{ user.firstname }}">
                                <div class="error">{{ user.errors.firstname }}</div>
                            </div>
                            <div class="w-50 d-flex flex-column">
                                <input type="text" name="lastname" class="form-control form-control-sm" placeholder="Last name" value="{{ user.lastname }}">
                                <div class="error">{{ user.errors.lastname }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control form-control-sm" value="{{ user.email }}" >
                            <div class="error">{{ user.errors.email }}</div>
                        </div>
                        <div class="d-flex form-group">
                            <label class="w-25 text-muted" for="dob">Birth date:</label>
                            <div class="w-50 d-flex flex-column">
                                <input type="date" name="dob" class="form-control form-control-sm" id="dob" value="{{ user.dob }}">
                                <div class="error">{{ user.errors.dob }}</div>
                            </div>
                        </div>
                        <div class="d-flex form-group">
                            <label class="w-25 text-muted" for="gender">Gender:</label>
                            <select name="gender" id="gender" class="form-control form-control-sm w-50" required>
                                <option value="">Select gender</option>
                                <option {% if user.gender == 'Male' %} selected {% endif %}  value="Male">Male</option>
                                <option {% if user.gender == 'Female' %} selected {% endif %}  value="Female">Female</option>
                                <option {% if user.gender == 'Other' %} selected {% endif %}  value="Other">Other</option>
                            </select>
                            <div class="error">{{ user.errors.gender }}</div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-sm" placeholder="password" name="password" value="{{ user.password }}" id="password">
                            <div class="error">{{ user.errors.password }}</div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-sm" placeholder="confirm password" name="confirm_password" value="{{ user.confirm_password }}" id="confirm_password" >
                            <div class="error">{{ user.errors.confirm_password }}</div>
                        </div>
                        <input type="submit" name="submit" class="btn btn-sm btn-block btn-success" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}  
    <script src="{{ folder }}/public/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {

            var d = new Date();
            var date = (d.getFullYear()-10) +'-01-01';
            $('#dob').attr('max', date);

            $.validator.addMethod('validName',
                function(value, ele, param) {
                    name_reg = /^[a-z A-Z]*$/;
                        if (name_reg.test(value)) {
                            return true;
                        } else {
                            return false;
                        }
                        
                },
                'Name shouldn\'t contain number or special char'
            );

            $.validator.addMethod('validPassword',
                function(value, ele, param) {
                    if (value != '') {
                        if (value.match(/.*[a-z]+.*/i) == null) {
                            return false;
                        }

                        if (value.match(/.*\d+.*/i) == null) {
                            return false;
                        }
                    }

                    return true;
                },
                'Must contain at least one letter and one number'
            );


            $('#registerForm').validate({
                rules: {
                    firstname: {
                        required: true,
                        validName: true
                    },
                    lastname: {
                        required: true,
                        validName: true
                    },
                    email: {
                        required: true,
                        email: true,
                        remote:'{{ folder }}/ajax/emailValidate'
                    },
                    dob: 'required',
                    gender: 'required',
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    confirm_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                messages: {
                    email: {
                        remote: 'this email already taken'
                    }
                }
            });
        });
    </script>
{% endblock %}