{% extends "base.html" %}

{% block title %}Spectrum | Forgot password{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-4">        

        <div class="card mt-4">
            <div class="card-header text-center">
                <h5>Forgot password</h5>
            </div>
            <div class="card-body">
                <form action="{{ folder }}/password/sendResetReq" method="post" id="loginForm">
                    <div class="form-group">
                        <label for="email">Email :</label>
                        <input type="email" name="email" placeholder="Enter email" class="form-control" value="{{ email }}" required>
                        <div class="error">{{ error }}</div>
                    </div>
                    <input type="submit" name="submit" class="btn btn-success" value="Send link">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
$(document).ready(function() {
    $('input').focus(function() {
        $('.error').text('');
    })
});
</script>
{% endblock %}