{% extends "base.html" %}

{% block title %}Spectrum | Reset password{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-4">
        <div class="card mt-4">
            <div class="card-header text-center">
                <h5 >Reset password</h5>
            </div>
            <div class="card-body">
                <form action="{{ folder }}/password/new" method="post" id="registerForm">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter new password" name="password" value="{{ user.password }}" id="password">
                        <div class="error">{{ user.errors.password }}</div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm password</label>
                        <input type="password" class="form-control" placeholder="Enter confirm password" name="confirm_password" value="{{ user.confirm_password }}" id="confirm_password" >
                        <div class="error">{{ user.errors.confirm_password }}</div>
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="submit" name="submit" class="btn btn-primary" value="Reset">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}  
    <script src="/login-mvc/public/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            $.validator.addMethod('validPassword',
                function(value, ele, param) {
                    if (value != '') {
                        if (value.match(/.*[a-z]+.*/i) == null) {
                            return false;
                        }

                        if (value.match(/.*\d+.*/i) == null) {
                            return false;
                        }
                    }

                    return true;
                },
                'Must contain at least one letter and one number'
            );
            
            $('#registerForm').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    confirm_password: {
                        required: true,
                        equalTo: '#password'
                    }
                }
            });
        });
    </script>
{% endblock %}