{% extends "base.html" %}

{% block title %} Spectrum | Home {% endblock %}


{% block body %}
{{ include ("navbar.html") }}
<div style="height: 3.78rem;"></div>

  <div class="container index-height">
    <div class="row justify-content-start h-100">
        <!-- Side bar start-->
        <div class="col-md-4 col-lg-3 pt-2 d-none d-md-block position-relative" id="sidebar">
            <div id="sidebar-link">
                <a href="profile" title="Profile" class="btn btn-block text-left btn-light text-primary d-flex align-items-center"> 
                    <div class="profile-icon-img-overlay mr-2"><img src="{{ folder }} /public/img/{{ cur_user.profile_pic }}" alt="{{ cur_user.name }}"></div> {{ cur_user.name }}
                </a>
                <a href="messages" class="btn btn-block text-left btn-light text-primary" title="Messages">Messages</a>
                <a href="findfriends" class="btn btn-block text-left btn-light text-primary" title="Find friends">Find Friends</a>
                <a href="notification" class="btn btn-block text-left btn-light text-primary" title="Notifications">Notifications</a>
            </div>
        </div>
        <!-- Side bar end-->

        <!-- newsfeed start-->
        <div class="col col-lg-6 border-left" id="">
                {% if flash_msg.type == 'success' %}        
                    <div class="alert alert-success alert-dismissable mt-2">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        {{ flash_msg.msg }}
                    </div>
                {% endif %}
                {% if flash_msg.type == 'failed'%}
                    <div class="alert alert-danger alert-dismissable mt-2">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        {{ flash_msg.msg }}
                    </div>
                {% endif %}

            <div class="bg-light p-3 mt-2">
                <!-- post form start-->
                <form action="posts/add" method="post" enctype="multipart/form-data">
                    <textarea class="form-control" name="post" placeholder="Share Something...."></textarea>
                    <div class="d-flex mt-2 justify-content-between">
                        <div class="custom-file w-50">
                            <label class="custom-file-label" for="customFile">Add image or file</label>
                            <input type="file" name="post-file" class="custom-file-input" id="customFile">
                        </div>
                        <select class="custom-select w-25" name="privacy" title="Privacy">
                            <option value="Public">Public</option>
                            <option value="Friends">Friends</option>
                            <option value="Private">Private</option>
                        </select>
                        <input type="submit" class="btn btn-primary" name="submit" value="Post">
                    </div>
                </form>
                 <!-- post form end-->
            </div>

            <hr>
            
            {{ include ("posts.html") }}

        </div>
    </div>
  </div>
  
{% endblock %}
{% block footer %} 
<script src="{{ folder }}/public/js/home.js"></script>
{% endblock %}