<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ folder }}/public/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ folder }}/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ folder }}/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ folder }}/public/css/style.css">
    <style>
      .error {
        color: var(--danger);
        font-size: .8rem;
      }
    </style>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

        
        
        {% block body %}
        {% endblock %}

    <script src="{{ folder }}/public/js/jquery.min.js"></script>
    <script src="{{ folder }}/public/js/popper.min.js"></script>
    <script src="{{ folder }}/public/js/bootstrap.min.js"></script>
    <script src="{{ folder }}/public/js/app.js"></script>    
    {% block footer %}  
    {% endblock %}
</body>
</html>