<!-- navbar section start -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand mr-5" href="{{ url_root }}/home" title="Spectrum home">
            <img class="home-logo mr-1" src="{{ folder }} /public/img/icon2.png" alt="Icon">
            <img class="home-logo" src="{{ folder }} /public/img/logo-text-light.png" alt="Text logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <form class="form-inline my-2 my-md-0">
            <input class="form-control col-8 form-control-sm mr-2" type="search" placeholder="Search">
            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">

            <li class="nav-item d-md-none">
                <a href="{{ url_root }}/profile" title="Profile" class="nav-link d-flex align-items-center"> 
                    <div class="profile-icon-img-overlay-link mr-2"><img src="{{ folder }} /public/img/{{ cur_user.profile_pic }}" alt="{{ cur_user.name }}"></div> {{ cur_user.name }}
                </a>
            </li>

            <li class="nav-item pointer">
                <a class="nav-link" href="{{ url_root }}/home" title="Home"><i class="fas fa-home"></i><span class="d-md-none"> Home</span></a>
            </li>

            
            {% if page != 'findfriends' %}
                <li class="nav-item d-md-none  pointer">
                    <a class="nav-link friend-request" href="{{ url_root }}/findfriends" title="Friend Request"><i class="fas fa-user-friends"></i><sup class="badge badge-danger">{% if countRequest %}{{ countRequest }}{% endif %}</sup>
                        </a>
                </li>
                <li class="nav-item d-none d-md-block position-relative  pointer">
                    <span class="nav-link pointer friend-request" title="Friend Request" id="friend-request">
                        <i class="fas fa-user-friends"></i><sup class="badge badge-danger">{% if countRequest %}{{ countRequest }}{% endif %}</sup>
                        
                    </span>

                    {% if friendsRrequests %}
                        <div class="d-flex flex-column p-2 bg-white rounded shadow" id="friend-request-dropdown">
                            <div class="dropdown-inner">
                                {% for request in friendsRrequests %}
                                    <a href="{{ url_root }}/profile/{{ request.sender }}" class="btn {% if request.seen == 0 %}alert-primary{% endif %} btn-light mb-1">
                                        <div class="profile-icon-img-overlay mr-2 float-left">
                                            <img src="{{ folder }} /public/img/{{ request.profile_pic }}" alt="{{ request.firstname }} {{ request.lastname }}">
                                        </div> 
                                    <div class="text-left ml-5"><b>{{ request.firstname }} {{ request.lastname }}</b> send you a friend request. <br>
                                            <small class="text-muted ml-2">{{ request.time }}</small>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
           


            
            {% if page != 'messages' %}
                <li class="nav-item d-md-none  pointer">
                    <a class="nav-link" href="{{ url_root }}/messages" title="Messages"><i class="far fa-comments"></i><sup class="badge badge-danger">{% if unseenMsg %}{{ unseenMsg }}{% endif %}</sup></a>
                </li>
                <li class="nav-item d-none d-md-block position-relative pointer">
                    <span class="nav-link pointer" title="Messages" id="messages"><i class="far fa-comments"></i><sup id="messageUnseen" class="badge badge-danger">{% if unseenMsg %}{{ unseenMsg }}{% endif %}</sup></span>
                    
                    <div id="messagesDropdown">
                        {% if chatHolders %}
                            {{ include("Navbar/chatHolder.html") }}
                        {% endif %}
                    </div>
                </li>
            {% endif %}

            {% if page != 'notification' %}
                <li class="nav-item d-md-none  pointer">
                    <a class="nav-link notification" href="{{ url_root }}/notification" title="Notification"><i class="fas fa-bell"></i><sup class="badge badge-danger">{% if countNotify %}{{ countNotify }}{% endif %}</sup></a>
                </li>
                <li class="nav-item d-none d-md-block position-relative pointer">
                    <span class="nav-link notification" title="Notification" id="notification"><i class="fas fa-bell"></i><sup class="badge badge-danger">{% if countNotify %}{{ countNotify }}{% endif %}</sup></span>

                    {% if notifications %}
                        <div class="d-flex flex-column p-2 bg-white rounded shadow" id="notification-dropdown">
                            <div class="dropdown-inner">
                                {% for notification in notifications %}

                                    {% if notification.notify_type == 'like' %}
                                        <a href="{{ url_root }}/post/{{ notification.post_id }}" class="btn btn-light {% if notification.seen == 0 %}alert-primary{% endif %} mb-1 notification-item">
                                            <div class="profile-icon-img-overlay d-block mr-2 float-left">
                                                <img src="{{ folder }} /public/img/{{ notification.profile_pic }}" alt="user Icon">
                                            </div>
                                            <div class="text-left ml-5"><b>{{ notification.firstname }} {{ notification.lastname }}</b> likes your {% if notification.type == 'profile_pic' %}profile photo {% elseif notification.type == 'cover_pic' %}cover photo{% else %}{{ notification.type }}{% endif %}. <i class="fas fa-thumbs-up text-primary"></i> <br>
                                                <small class="text-muted ml-1">{{ notification.time }}</small>
                                            </div>
                                        </a>
                                    {% endif %}

                                    {% if notification.notify_type == 'comment' %} 
                                        <a href="{{ url_root }}/post/{{ notification.post_id }}" class="btn btn-light {% if notification.seen == 0 %}alert-primary{% endif %} mb-1 notification-item">
                                            <div class="profile-icon-img-overlay d-block mr-2 float-left">
                                                <img src="{{ folder }} /public/img/{{ notification.profile_pic }}" alt="user Icon">
                                            </div> 
                                            <div class="text-left ml-5"><b>{{ notification.firstname }} {{ notification.lastname }}</b> comments in your {% if notification.type == 'profile_pic' %}profile photo {% elseif notification.type == 'cover_pic' %}cover photo{% else %}{{ notification.type }}{% endif %}.  <i class="fas fa-comment-alt text-success"></i> <br>
                                                <small class="text-muted ml-1">{{ notification.time }}</small>
                                            </div>
                                        </a>                
                                    {% endif %}

                                    {% if notification.notify_type == 'friendReq' %} 
                                    <a href="{{ url_root }}/profile/{{ notification.sender }}" class="btn btn-light {% if notification.seen == 0 %}alert-primary{% endif %} mb-1 notification-item">
                                        <div class="profile-icon-img-overlay d-block mr-2 float-left">
                                            <img src="{{ folder }} /public/img/{{ notification.profile_pic }}" alt="user Icon">
                                        </div> 
                                        <div class="text-left ml-5"><b>{{ notification.firstname }} {{ notification.lastname }}</b> accept your friend request. <i class="fas fa-user-friends text-primary"></i> <br>
                                            <small class="text-muted ml-1">{{ notification.time }}</small>
                                        </div>
                                    </a>                 
                                    {% endif %}                   
                                {% endfor %}
                            </div>
                         </div>
                    {% endif %}
                </li>
            {% endif %}

            <li class="nav-item  pointer">
                <a class="nav-link" onclick="javascript: return confirm('Are you sure, want logout?')" href="{{ url_root }}/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
        </div>
    </div>
  </nav>

  <!-- flash msg show -->
  <div id="failed-msg">
      <div class="alert alert-danger">
        <strong>Something wrong!</strong>
      </div>
  </div>

  <!-- messages toast -->
  <div class="toast bg-white" id="msg-toast">
    <div class="toast-header">
        <div class="profile-icon-img-overlay-link mr-2 float-left">
            <img src="{{ folder }} /public/img/male-user.png" alt="user Icon">
        </div> 
        <strong class="mr-auto">Ashikur Rahman</strong>
        <button type="button" class="ml-2 mb-1 close" id="toast-close">
            <span>&times;</span>
        </button>
    </div>
    <div class="toast-body pt-0 d-flex flex-column justify-content-between" id="toast-body">
        <div class="media-body px-1">
            <div id="chat-body">

                {{ include ("Messages/messages.html")}}

                
            </div>

        </div>
        
        <div class="d-flex align-items-center border-top pt-2" id="send-msg-toast">
            <input class="form-control form-control-sm" type="text" id="sendText">

            <form id="sendImageForm">
                <input type="hidden" name="user_id" class="msg-user-id" value="">
                <input class="d-none" name="send-image" type="file" id="sendImage"> 
                <label class="p-1 m-0 ml-1 pointer" for="sendImage"><i class="far fa-images"></i></label>
            </form>

            <div class="p-1 position-relative pointer" id="toast-emoji">
                <i class="far fa-grin chat-emoji" data-target="toast-emoji"></i>
                <div class="chat-emoji-body d-none rounded p-2 shadow" data-target="toast-emoji">
                </div> 
            </div>

            <form id="sendFileForm">
                <input type="hidden" name="user_id" class="msg-user-id" value="">
                <input class="d-none" name="send-file" type="file" id="sendFile"> 
                <label class="p-1 m-0 pointer" for="sendFile"><i class="fas fa-link"></i></label>
            </form>
        </div>
    </div>
</div>
<!-- navbar section end -->