{% if posts %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center"> 
                        <div class="profile-icon-img-overlay mr-2">
                            <img src="{{ folder }} /public/img/{{ post.profile_pic }}" alt="user Icon">
                        </div>
                        <div class="d-flex flex-column">
                        <div>
                            <a href="{{ url_root }}/profile{% if post.author_id != cur_user.id %}/{{ post.author_id }}{% endif %}">{{ post.firstname }} {{ post.lastname }}</a>

                            {% if post.type == 'profile_pic' %}
                                <small class="text-muted">Update Profile Photo</small>
                            {% elseif post.type == 'cover_pic' %}
                                <small class="text-muted">Update Cover Photo</small>
                            {% endif %}
                             
                        </div>
                        <small class="text-muted position-relative">
                            <span class="ago-time">{{ post.time }}
                                <div class="date-time card p-1">{{ post.date_time }}</div>
                            </span> 
                            {% if post.privacy == 'Public' %}
                                <i class="fas fa-globe-asia ml-2" title="Public"></i>
                            {% elseif post.privacy == 'Friends' %}
                                <i class="fas fa-user-friends ml-2" title="Friends"></i>
                            {% else %}
                                <i class="fas fa-lock ml-2" title="Private"></i>
                            {% endif %}
                            </small>
                        </div>
                    </div>
                    {% if (post.option == 'newsfeed') or (cur_user.id != post.author_id) %}
                        {% if page != 'post' %}
                            <a href="{{ url_root }}/post/{{ post.id }}" title="Details"><i class="fas fa-share"></i></a>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-light position-relative rounded-circle post-option">
                            <i class="fas fa-ellipsis-v"></i>

                            <div class="card p-2 position-absolute post-option-dropdown d-none">
                                {% if page != 'post' %}
                                    <a href="{{ url_root }}/post/{{ post.id }}" class="btn btn-sm btn-light mb-1">View details</a>
                                {% endif %}
                                <a href="{{ url_root }}/posts/edit/{{ post.id }}" class="btn btn-sm btn-warning mb-1">Edit post</a>
                                <a href="{{ url_root }}/posts/delete/{{ post.id }}" onclick="javascript: return confirm('Are you sure want to delete?');" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </button>
                    {% endif %}
                </div>
                <div class="post-content mt-2">
                    {% if post.content %}
                        <span class="text-dark">{{ post.content}}</span> <br>
                    {% endif %}

                    {% if (post.type == 'photo') or (post.type == 'profile_pic') or  (post.type == 'cover_pic') %}
                        <img src="{{ folder }}/public/img/{{ post.file_name }}" class="img-fluid mt-2 mx-auto d-block" alt="">
                    {% elseif post.type == 'video' %}
                        <video class="img-fluid" controls>
                            <source src="{{ folder }}/public/video/{{ post.file_name }}"
                                type="video/mp4">
                        </video>
                    {% elseif post.type == 'audio' %}
                        <audio class="mt-2" controls>
                            <source src="{{ folder }}/public/audio/{{ post.file_name }}" 
                                type="audio/mp3">
                        </audio>
                    {% elseif post.type == 'pdf' %}
                        <div class="mt-2 btn btn-light">
                            <a href="{{ folder }}/public/pdf/{{ post.file_name }}" download>{{ post.file_name }}</a>
                            <i class="ml-2 h4 far fa-file-pdf text-warning"></i>
                        </div>
                    {% elseif post.type == 'txt' %}
                        <div class="mt-2 btn btn-light">
                            <a href="{{ folder }}/public/txt/{{ post.file_name }}" download>{{ post.file_name }}</a>
                            <i class="ml-2 h4 far fa-file-alt text-secondary"></i>
                        </div>
                    {% elseif post.type == 'doc' %}
                        <div class="mt-2 btn btn-light">
                            <a href="{{ folder }}/public/doc/{{ post.file_name }}" download>{{ post.file_name }}</a>
                            <i class="ml-2 h4 far fa-file-word text-primary"></i>
                        </div>
                    {% elseif post.type == 'ppt' %}
                        <div class="mt-2 btn btn-light">
                            <a href="{{ folder }}/public/ppt/{{ post.file_name }}" download>{{ post.file_name }}</a>
                            <i class="ml-2 h4 far fa-file-powerpoint text-danger"></i>
                        </div>
                    {% elseif post.type == 'excel' %}
                        <div class="mt-2 btn btn-light">
                            <a href="{{ folder }}/public/excel/{{ post.file_name }}" download>{{ post.file_name }}</a>
                            <i class="ml-2 h4 far fa-file-excel text-success"></i>
                        </div>
                    {% endif %}
                    
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <a class="pointer like-list" data-post="{{ post.id }}" title="likes"><span class="like-count" data-id="{{ post.id }}">{{ post.likes }}</span> Likes</a>
                    <a class="pointer comment-list" data-post="{{ post.id }}"><span class="comment-count" data-id="{{ post.id }}">{{ post.comments }}</span> Comments</a>
                </div>
                <hr class="m-0">

                <div class="d-flex mt-2 align-items-start">
                    <button class="btn btn-sm btn-block {% if post.like %} text-primary {% endif %} btn-light mr-3 like-btn" data-id="{{ post.id }}" post-like="{{ post.like }}"><i class="{% if post.like %}fas{% else %}far{% endif %} fa-thumbs-up"></i> Like</button>
                    <button class="btn btn-sm w-100 btn-light" data-toggle="collapse" data-target="#post{{ post.id }}" aria-expanded="false" aria-controls="post1"><i class="far fa-comment-alt"></i> Comment</button>
                </div>

                <div class="collapse py-2" id="post{{ post.id }}" page="{{ page }}">
                    <div class="d-flex align-items-center">
                        <input type="text" data-id="{{ post.id }}" class="form-control form-control-sm mr-1 comment-text" placeholder="Add comment"> 
                        
                        <div class="p-1 position-relative pointer comment-emoji">
                            <i class="far fa-grin chat-emoji" data-target="comment-emoji" data-id="{{ post.id }}"></i>
                            <div class="chat-emoji-body d-none rounded p-2 shadow" data-target="comment-emoji">   
                            </div> 
                        </div>

                        <form class="comment-image">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input class="d-none comment-image-input" data-id="{{ post.id }}" id="post-{{post.id }}" type="file" name="comment-image"> 
                            <label class="p-1 m-0 pointer" for="post-{{post.id }}"><i class="far fa-images"></i></label>
                        </form>

                    </div>
                </div>

                {% if page == 'post' %}
                    <div id="post-comments">
                        {{ include ("Post/comments.html")}}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    
    <!-- Like comments Modal -->
    <div class="modal fade" id="like-comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="like-comment-modal-label">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
{% else %}

<div class="lead text-center mt-4">No post available</div>

{% endif %}