{% extends "base.html" %}

{% block title %}Spectrum | {{ user.name }}{% endblock %}

{% block body %}
{{ include ("navbar.html") }}

<div style="height: 3.78rem;"></div>
<div class="container profile-div pb-4">

     <div style="background-image: url('{{ folder }}/public/img/{{ user.cover_pic }}');" class="position-relative profile-cover-pic pointer">
        <!-- <img src="{{ folder }}/public/img/ashik-c.JPG" alt="Ashik" class="img-fluid rounded"> -->
        <div class="profile-img">
            <div class="profile-img-overlay">
                <a href="#"><img src="{{ folder }}/public/img/{{ user.profile_pic }}" alt=""></a>
                {% if user.id == cur_user.id %}
                    <div class="profile-pic-update-btn"><i class="fas fa-camera"></i></div>
                {% endif %}
            </div>
        </div>
        {% if user.id == cur_user.id %}
            <div class="cover-pic-update-btn btn btn-light btn-sm"><i class="fas fa-camera"></i> Update Cover Pic</div>
        {% endif %}
    </div>

    <!-- update profile and cover pic-->
{% if user.id == cur_user.id %}
  <!-- Modal -->
  <div class="modal" id="photoUpdateModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="photoUpdateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="update-photo-form">
              <label class="btn btn-primary" for="update-photo"><h6 class="m-0"><i class="fas fa-plus"></i> Upload a photo</h6></label> <hr>
              <input type="file" class="d-none" name="image" id="update-photo">
              <input type="hidden" name="type" value="test" id="photo-type">
        </form>
            {% if photos %}
                Select a photo:
                <div class="row mt-2">
                    {% for photo in photos %}
                        
                        {%if photo.type != 'profile_pic' %}
                            <div class="col-4 py-2 updateProfilePhoto">
                                <a href="{{ url_root }}/profile/updateProfilePhoto/{{ photo.id }}"><img src="{{ folder }}/public/img/{{ photo.file_name }}" class="img-fluid rounded" alt="{{ photo.file_name }}"></a>
                            </div>
                        {% endif %}
                        {%if photo.type != 'cover_pic' %}
                            <div class="col-4 py-2 updateCoverPhoto">
                                <a href="{{ url_root }}/profile/updateCoverPhoto/{{ photo.id }}"><img src="{{ folder }}/public/img/{{ photo.file_name }}" class="img-fluid rounded" alt="{{ photo.file_name }}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<!-- Modal end -->
{% endif %}

    <h3 class="text-center text-dark my-4">{{ user.name }}</h3>

    {% if user.id != cur_user.id %}
        {% if relation == 'suggest' %}
            <div class="card mb-4 p-2 flex-row justify-content-between align-items-center">
                    <span>Do you know him ?</span> 
                    <a href="{{ url_root }}/findfriends/sendRequest/{{ user.id }}" class="btn btn-primary btn-sm">Send request</a>
            </div>
        {% endif %}
        {% if relation == 'receiveReq' %}
            <div class="card mb-4 p-2 flex-row justify-content-between align-items-center">
                    <span>Send you a request..</span> 
                    <div>
                        <a href="{{ url_root }}/findfriends/addFriend/{{ user.id }}" class="btn btn-success btn-sm mr-2">Accept</a>
                        <a href="{{ url_root }}/findfriends/decline/{{ user.id }}" class="btn btn-danger btn-sm">Decline</a>
                    </div>
            </div>
        {% endif %}
        {% if relation == 'sendReq' %}
            <div class="card mb-4 p-2 flex-row justify-content-between align-items-center">
                    <span>You send a request..</span> 
                    <a href="{{ url_root }}/findfriends/cancelRequest/{{ user.id }}" class="btn btn-danger btn-sm">Cancel request</a>
            </div>
        {% endif %}
    {% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">Timeline</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends ({{ countFriend }})</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
          </li>
        {% if relation == 'friend' %}
            <a onclick="javascript: confirm('Are you sure to unfriend him?')" href="{{ url_root }}/findfriends/unfriend/{{ user.id }}" class="btn btn-primary btn-sm my-1 ml-auto">Unfriend</a>
        {% endif %}
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active pt-2" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
            {% if flash_msg.type == 'success' %}        
                    <div class="alert alert-success alert-dismissable mt-2">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        {{ flash_msg.msg }}
                    </div>
                {% endif %}
                {% if flash_msg.type == 'failed'%}
                    <div class="alert alert-danger alert-dismissable mt-2">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        {{ flash_msg.msg }}
                    </div>
                {% endif %}
        {% if user.id == cur_user.id %}
            <div class="bg-light p-3 mt-2">
                <!-- post form start-->
                <form action="posts/add" method="post" enctype="multipart/form-data">
                    <textarea class="form-control" name="post" placeholder="Share Something...."></textarea>
                    <div class="d-flex mt-2 justify-content-between">
                        <div class="custom-file w-50">
                            <label class="custom-file-label" for="customFile">Add image or file</label>
                            <input type="file" name="post-file" class="custom-file-input" id="customFile">
                        </div>
                        <select class="custom-select w-25" name="privacy" title="Privacy">
                            <option value="Public">Public</option>
                            <option value="Friends">Friends</option>
                            <option value="Private">Private</option>
                        </select>
                        <input type="hidden" name="timeline" value="1">
                        <input type="submit" class="btn btn-primary" name="submit" value="Post">
                    </div>
                </form>
                 <!-- post form end-->
            </div>

            <hr>
            {% endif %}
            
            {{ include ("posts.html") }}
            
        </div>
        <div class="tab-pane fade p-3 text-muted" id="about" role="tabpanel" aria-labelledby="about-tab">
            
            <div class="row">
                <div class="col-4"><i class="fas fa-briefcase"></i> <b>Works at </b></div> 
                <div class="col" id="works-At">
                    {{ user.works_at }}
                </div>
                {% if user.id == cur_user.id %}
                    <div class="col-1"><i data-target="works-At" class="fas fa-edit btn text-muted about-edit-btn"></i></div>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-graduation-cap"></i> <b>Studied</b> </div> 
                <div class="col" id="studied">
                    {{ user.studied }}
                </div>
                {% if user.id == cur_user.id %}
                    <div class="col-1"><i data-target="studied" class="fas fa-edit btn text-muted about-edit-btn"></i></div>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-home"></i> <b>Lives in</b> </div>
                <div class="col" id="lives-In">
                    {{ user.live_in }}
                </div>
                {% if user.id == cur_user.id %}
                    <div class="col-1"><i data-target="lives-In" class="fas fa-edit btn text-muted about-edit-btn"></i></div>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i  class="fas fa-map-marker-alt"></i> <b>Home town</b> </div>
                <div class="col" id="home-Town">
                    {{ user.home_town }}
                </div>
                {% if user.id == cur_user.id %}
                    <div class="col-1"><i data-target="home-Town" class="fas fa-edit btn text-muted about-edit-btn"></i></div>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-phone-alt"></i> <b>Phone no</b> </div>
                <div class="col" id="phone-No">
                    {{ user.phone }}                   
                </div>
                {% if user.id == cur_user.id %}
                    <div class="col-1"><i data-target="phone-No" class="fas fa-edit btn text-muted about-edit-btn"></i></div>
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-envelope"></i> <b>Email</b> </div>
                <div class="col">
                    {{ user.email }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-birthday-cake"></i> <b>Birth Date</b> </div>
                <div class="col">
                    {{ user.dob }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4"><i class="fas fa-venus-mars"></i> <b>Gender</b> </div>
                <div class="col">
                    {{ user.gender }}
                </div>
            </div>
        </div>

        <!-- about update modal start-->
        <div class="modal" id="aboutUpdateModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-capitalize" id="aboutUpdateModalTitle">user login</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <textarea id="aboutInput" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button type="button" id="update-about-btn" class="btn btn-success">Update</button>
                </div>
              </div>
            </div>
          </div>
           <!-- about update modal end-->

        <div class="tab-pane fade p-2" id="friends" role="tabpanel" aria-labelledby="friends-tab">
            
            {% if friends %}
                <div class="row">
                    {% for friend in friends %}
                        <div class="col-6 p-2">
                            <div class="d-flex border rounded p-2">
                                <img src="{{ folder }}/public/img/{{ friend.profile_pic }}" alt="{{ friend.firstname }} {{ friend.lastname }}" class="suggestFriendPic rounded">
                                <div class="ml-4 pt-2">
                                    <a href="{{ url_root }}/profile/{{ friend.id }}" class="h6">{{ friend.firstname }} {{ friend.lastname }}</a> <br>
                                    {% if friend.id != cur_user.id %}
                                        <small class="text-muted">{{ friend.mutual }} mutual friends</small>
                                    {% endif %}
                                </div>
                            </div>                        
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="lead text-center mt-4">No friends available</div> 
            {% endif %}

        </div>
        <div class="tab-pane fade py-2" id="photos" role="tabpanel" aria-labelledby="photos-tab">
            
            {% if photos %}
                <div class="row py-2">
                    {% for photo in photos %}
                        <div class="col-6 col-sm-4 col-md-3 position-relative">
                            <a href="{{ url_root }}/post/{{ photo.id }}" class="gallery-img">
                                <img src="{{ folder }}/public/img/{{ photo.file_name }}" alt="{{ phone.file_name }}" class="img-fluid rounded">
                            </a>

                            {% if user.id == cur_user.id %}
                                <div class="dropdown image-action">
                                    <button class="image-action-toggler" data-img="img-{{ photo.id }}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <div class="dropdown-menu" id="img-{{ photo.id }}">
                                    {% if photo.type != 'profile_pic' %}
                                        <a class="dropdown-item" href="{{ url_root }}/profile/updateProfilePhoto/{{ photo.id }}">Make Profile Picture</a>
                                    {% endif %}
                                    {% if photo.type != 'cover_pic' %}
                                        <a class="dropdown-item" href="{{ url_root }}/profile/updateCoverPhoto/{{ photo.id }}">Make Cover Photo</a>
                                    {% endif %}
                                    <a class="dropdown-item" onclick="javascript: return confirm('Are you sure want to delete?');" href="{{ url_root }}/post/delete/{{ photo.id }}">Delete</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="lead text-center mt-4">No photo available</div> 
            {% endif %}

        </div>
      </div>

</div>
{% endblock %}
{% block footer %} 
<script src="{{ folder }}/public/js/profile.js"></script>
{% endblock %}